# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# PyTorch checkpoints
*.pth

# Output artifacts
*.npy
*.npz
*.log
*.tmp
